body{
    background-color:rgb(236, 236, 230);
}

header{
    background-color:white;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.162);
}

#premierTitre{
    margin-top: 3em;
}


/*
.header{
    position: fixed;
    top: 0;
    width: 100%;
} */

h1, h4{
    font-weight: bold;
}

.cliquez{
    font-size: 15px;
}

b{
    font-size: 2em;
}

ul li{
    list-style-image : url(/images/bullet.png);
}

span{
    font-size: 15px;
}

blockquote{
    font-size: 0.7em;
}

.row{
    background-color: white;
    border-style: none;
    border-radius: 10px;      /*les coins sont arrondis*/
    width: 100%;                /*Largeur de la zone de texte*/
    margin: 1%; 
    margin-left: 0%;                /*hauteur du cadre entourant la zone de texte*/
    padding: 5%;                /*hauteur du cadre par rapport au texte*/
}

img{
    position: fixed;
    top: 10%;
    left: 80%;
    width: 20%;
    height: auto;
    transform: rotate(-15deg);
    opacity: 0.5;
}

#buttonR{
    text-align: center;
}

/*@media screen and (min-width: 800px) {                        je ne sais pas encore cacher l'image derrière la div 'charte de la promo' ...
    .img {
      position: relative;
      width: 25%;
    }
  }                                                           Mise du bloc @media querry en commentaire pour la neutraliser/*


/* phil ici -début-


phil fin -fin-/*